html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/*.. Header CSS ..*/

h1, h2 {
  font-family: 'Lobster', cursive;
}

header h1 {
  text-align: center;
  color: #fff;
  margin-top: 0;
  font-size: 2rem;
  background-color: #333;
  padding: 10px;
  margin-bottom: 0;
}

header {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  text-align: center;
}

li {
  padding: 5px;
  color: #fff;
}

nav a {
  text-decoration: none;
  white-space: nowrap;
  color: #333;
}

li:hover a {
  color: #fff;
  background-color: #555;
  padding: .5em;
  margin: auto;
  border-radius: 5px;
}

/*.. Main CSS ..*/

section {}

.about-us {
}

.about-us-img {
}

.about-us img {
}

.about-us-content {
  padding: .5em;
  display: block;
  max-width: 45em;
}

.about-us h2 {
  margin-bottom: 0;
  text-align: center;
}

.about-us p {
  margin-top: 0;
}

.products {}

.products-content {
  display: block;
  max-width: 45em;
  padding: .5em;
}

.products-content h2 {
  margin-bottom: 0;
  text-align: center;
}

.product-1 {}

.product-2 {}

.product-3 {}

.product-4 {}

.custom {}

.custom-img {}

.custom-content {
  display: block;
  max-width: 45em;
  padding: .5em;
}

.custom-content h2 {
  margin-bottom: 0;
  text-align: center;
}

.custom-weddings {}

.custom-birthdays {}

.custom-holidays {}

.custom-gifts {}

.contact {}

.contact-img {}

.contact-content {
  display: block;
  max-width: 45em;
  padding: .5em;
}

.contact-content h2 {
  margin-bottom: 0;
  text-align: center;
}

.email {
  text-align: center;
}

.phone {
  text-align: center;
}

.location {
  text-align: center;
}

.store-hours {
  text-align: center;
}

footer {
  background-color: #555;
  color: #fff;
}

.footer {}

.footer-header {
  text-align: center;
  padding-top: .1em;
}

footer img {
  display: block;
  width: 100%;
  max-width: 4em;
}

span {
  text-align: center;
  margin: auto 0;
  display: block;
}

.icon {
  display: inline-block;
}

.copyright {
  text-align: center;
  padding: .5em;
}

/*.. Footer CSS ..*/

@media only screen and (min-width: 25em) {

  /*.. Header CSS ..*/

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  nav {
    width: 100%;
    margin: auto;
  }

  ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  li {
    text-align: center;
    width: 50%;
  }

  /*.. Main CSS ..*/

  /*.. Footer CSS ..*/

}

@media only screen and (min-width: 38em) {

  /*.. Header CSS ..*/

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  li {
    width: 25%;
    margin: auto;
    text-align: center;
  }

  /*.. Main CSS ..*/

  /*.. Footer CSS ..*/

}

@media only screen and (min-width: 60em) {

  /*.. Header CSS ..*/

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  header {
    display: inline-flex;
    width: 100%;
    vertical-align: middle;
  }

  ul {
    justify-content: space-between;
    vertical-align: middle;
  }

  li {
    text-align: center;
    padding: .75rem;
  }

  /*.. Main CSS ..*/

  /*.. Footer CSS ..*/

}

@media only screen and (min-width: 90em) {

  /*.. Header CSS ..*/

  html {
    font-size: 130%;
  }

  /*.. Main CSS ..*/

  /*.. Footer CSS ..*/

}
